# this index contains pytorch packages with CUDA support for CUDA 12.8 drivers.
--extra-index-url https://download.pytorch.org/whl/cu128

# the most important packages
torch==2.7.0+cu128
torchvision==0.22.0+cu128
sympy>=1.13.1
tensorflow>=2.13.0
onnx>=1.16.2
onnxruntime-gpu>=1.20.1

# the less important packages
colorama>=0.4.6
customtkinter>=5.2.0
future==0.18.3
gfpgan==1.3.8
insightface==0.7.3
moviepy>=1.0.4
numpy>=1.24.3
opencv-python>=4.8.0.74
pathvalidate
pillow>=10.0.0
protobuf>=4.24.1
psutil>=5.9.5
pygame
python-vlc
pyvirtualcam
tk==0.1.0
tqdm>=4.65.0
zmq